<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_websocket.mapper.FriendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo_websocket.pojo.Friend">
        <id column="friend_id" property="friendId" />
        <result column="user_1_id" property="user1Id" />
        <result column="user_2_id" property="user2Id" />
        <result column="message" property="message" />
        <result column="create_time" property="createtime" />
        <result column="f_id" property="fid" />
        <result column="state" property="state" />
    </resultMap>
<!--    <select id="findByFid" resultType="com.example.demo_websocket.pojo.Friend">-->
<!--        SELECT *-->
<!--        FROM friend-->
<!--        WHERE user1_id = #{userId}-->
<!--          AND message IS NOT NULL-->
<!--        ORDER BY createtime DESC-->
<!--    </select>-->
<!--    <select id="existsByUserIds" resultType="boolean">-->
<!--        SELECT COUNT(*) > 0-->
<!--        FROM friend-->
<!--        WHERE (user1_id = #{user1Id} AND user2_id = #{user2Id}) OR (user1_id = #{user2Id} AND user2_id = #{user1Id})-->
<!--    </select>-->
<!--    <update id="updateStateToRead">-->
<!--        UPDATE friend SET state = 1 WHERE (user1_id = #{user1Id} AND user2_id = #{user2Id}) OR (user1_id = #{user2Id} AND user2_id = #{user1Id})-->
<!--    </update>-->
<!--    <select id="findByUserId" resultType="com.example.demo_websocket.pojo.Friend">-->
<!--        SELECT * FROM friend WHERE user1_id = #{userId}-->
<!--    </select>-->

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        friend_id, user_1_id, user_2_id, message,createtime
    </sql>

</mapper>
