<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_websocket.mapper.LikeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo_websocket.pojo.Like">
        <id column="Id" property="Id" />
        <result column="u_id" property="uId" />
        <result column="n_id" property="nId" />
        <result column="Create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, u_id, n_id, Create_time
    </sql>

</mapper>
