<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_websocket.mapper.NoteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo_websocket.pojo.Note">
        <id column="n_id" property="nId" />
        <result column="user_id" property="uId" />
        <result column="cover_image" property="coverImage" />
        <result column="title" property="title" />
        <result column="note_content" property="noteContent" />
        <result column="good" property="good" />
        <result column="collection" property="collection" />
        <result column="create_time" property="createTime" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        n_id, user_id, cover_image, title, note_content, good, collection, create_time, type
    </sql>

</mapper>
